html,
body {
  width: 100%;
  height: 100%;
  margin: 0;
  padding: 0;
  background-color: #f1f3f4;
}

.grid-container {
  display: grid;
  height: 100%;
}

.flex-container {
  display: flex;
}

.flex-wrap {
  flex-wrap: wrap;
}

.row {
  width: 100%;
}

.white {
  color: white;
}

.fff-blue {
  background-color: #2c3e50;
}

.topbar {
  background-color: #2c3e50;
  height: 3em;
  justify-content: space-between;
  align-items: center;
  grid-column: span 12;
}

.topbar div a {
    text-decoration: none;
    color: white;
}

.right-menu {
  flex-wrap: wrap;
  margin-right: 2em;
  justify-content: space-around;
  width: 10em;
}

.home-right-menu {
  width: 14em;
}

.left-menu {
  margin-left: 2em;
}

@media screen and (max-width: 450px) {
    .left-menu {
        font-size: 0.9em;
        margin-left: 1.5em;
        width: 6em;
    }
}

.hide {
  display: none;
}
