.mid {
  grid-column: span 12;
  justify-content: center;
  position: relative;
}

.grid-wt-topbar {
  grid-template-columns: repeat(12, 1fr);
  grid-template-rows: 50px 240px auto 50px;
}

.topbar {
    grid-row: 1 / span 1;
}

.mid {
    grid-row: 2 / span 1;
}

.bottom {
    grid-row: 3 / span 1;
}

.footer {
    width: 100%;
    color: white;
    font-size: 1em;
    height: 3em;
    align-items: center;
    justify-content: center;
    margin-top: 2em;
    grid-row: 4 / span 1;
    grid-column: 1 / span 12;
}

.main-img {
  padding: 0em 0rem 0em 0em;
  height: 16em;
  width: 90%;
  object-fit: cover;
  margin-top: 1em;
  border-radius: 2px;
  position: absolute;
  opacity: 0.85;
}

.img-overlay {
  position: absolute;
  top: 30%;
  left: 10%;
  color: rgba(255, 0, 0, 0.959);
  font-size: 2em;
  width: 11em;
}

.img-overlay div input,
.img-overlay div button {
  height: 2.5em;
  border: 1px solid #ffffff;
  border-radius: 3px;
  background-color: #ffffff1c;
}

.img-overlay div input:focus,
.img-overlay div button:focus {
  height: 2.5em;
  border: 0px;
}

.img-overlay div input {
  width: 55%;
  padding-left: 1.4em;
  color: white;
}

.img-overlay div input::placeholder {
  width: 60%;
  color: white;
}

.img-overlay div button {
  width: 28%;
  margin-left: 5%;
  background-color: #ffffff;
}

@media screen and (max-width: 450px) {
  .grid-wt-topbar {
    grid-template-rows: 48px 200px auto 50px;
  }
  .main-img {
    padding: 0em 0rem 0em 0em;
    height: 12em;
    width: 100%;
    object-fit: cover;
    margin-top: 0em;
    border-radius: 2px;
    position: absolute;
  }

  .img-overlay {
    top: 20%;
    font-size: 1.3em;
    width: 11em;
  }

  .img-overlay div {
    margin-top: 1em;
  }
}

.bottom {
  grid-column: auto / span 12;
  justify-self: center;
  justify-items: center;
  width: 90%;
  display: grid;
  grid-gap: auto;
  grid-template-columns: repeat(auto-fit, minmax(260px, 1fr));
  grid-auto-rows: 350px;
  grid-row: 3 / 4;
}

.food-items {
  height: 180px;
  width: 250px;
  object-fit: cover;
}

.food-item-case {
  width: 250px;
  display: flex;
  flex-direction: column;
  align-items: left;
  height: 300px;
  margin-top: 3em;
  box-shadow: 2px 0.5px 18px 1px hsla(0, 6%, 84%, 0.761);
  color: #2c3e50;
  background-color: #ffffff;
}

.food-item-case:hover {
  transform: scale(0.95, 0.95);
}

.food-name {
  font-weight: bolder;
  font-size: 2em;
}

.food-item-footer {
  padding-top: 1em;
  padding-left: 1.2em;
}

.food-item-btn {
  height: 1em;
  width: 6em;
  background-color: #2c3e50;
  color: white;
  text-align: center;
  padding: 0.7em;
  border-radius: 3px;
}

.main-img-c {
  position: relative;
}

.text-on-img {
  position: absolute;
  top: 3px;
  left: 6px color;
}


