/*login*/
.grid-auth-page {
  grid-template-columns: repeat(12, 1fr);
  grid-template-rows: 50px auto;
}

.auth-img {
  grid-column: auto / span 6;
  height: 100%;
  margin: 0px;
  padding: 0px;
  position: relative;
}

.auth-img img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  position: absolute;
}

.auth-img h1 {
  position: absolute;
  top: 23%;
  color: white;
  font-size: 2.3em;
  width: 100%;
  text-align: center;
}

.auth-side {
  grid-column: auto / span 6;
}

.input-field {
  border: none transparent;
  border-bottom: solid 1px #7d8994;
  margin-top: 15%;
  outline: none;
  color: #173348;
  padding-left: 2%;
  font-size: 1.2em;
}

.container {
  color: #2c3e50;
  background-color: #ffffff;
}

.form-header {
  margin-top: 5%;
  font-weight: 550;
  font-size: 1.3em;
}

.middle {
  margin: 0 auto;
  text-align: center;
}

.form-container {
  margin: 0 auto;
  width: 20em;
  margin-top: 5em;
}

.form-footer {
  color: #2c3e50;
  margin-top: 3%;
}

.link {
  text-decoration: none;
}

::placeholder {
  color: #2c3e50b3;
}

.form-btn {
  margin-top: 15%;
  background-color: #2c3e50;
  color: white;
  height: 3.4em;
  border-radius: 0.5em;
  font-size: 1.1em;
  width: 95%;
}

.hidable-header {
  display: none;
}

@media screen and (max-width: 680px) {
  .auth-img {
    display: none;
  }

  .auth-side {
    grid-column: auto / span 12;
  }

  .hidable-header {
    display: block;
    font-size: 1.5em;
    font-weight: 900;
    text-align: center;
    margin-top: -1em;
    margin-bottom: 1em;
  }
}
